/biocap/import_fileXLS.xls
/biocap/composer.lock
/biocap/import_fileXLSX.xlsx
/biocap/import_example_ebiobanques.xls
/biocap/import_fileCSV.csv
/biocap/ebiobanques/assets/
/biocap/ebiobanques/protected/runtime/
/biocap/ebiobanques/CommonPropertiesProd.php
/biocap/ebiobanques/CommonProperties.php
/biocap/nbproject/
/biocap/vendor/
/biocap/ebiobanques/protected/tests/report/
/biocap/tests_selenium/
/ebiobanques/assets/
/ebiobanques/protected/runtime/
/composer.lock
/ebiobanques/protected/tests/report/
/nbproject/private/
/ebiobanques/CommonPropertiesProd.php